@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
h1,h2{
    font-size: 2rem;
    font-weight: 800;
}
p{
    font-size: 1.5rem;
    font-weight: 500;
}
img{
    width: 150px;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero .container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.44);
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.lang{
    margin-top: 20px;
}

#box1{
    background-color: #ff0000;
}
#box2{
    background-color: #00ff00;
}
#box3{
    background-color: #0000ff;
}
#box4{
    background-color: #ffff00;
}
#box5{
    background-color: #ff00ff;
}